.post.post_mypage {
    display: inline-block;
    width: 520px;
    height: 400px;
    border-radius: 20px;
    text-align: center;
    border: 2px dotted #333;
    box-sizing: border-box;
    overflow: hidden;
}

.post.post_mypage > .mypage-addpost {
    color: #000;
    font-size: 50px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.post.post_mypage > .mypage-addpost:hover {
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

/* 마이페이지 비쥬얼 사진 */
.visual-mypagepost {
    position: relative;
    margin-top: 80px;
    display: block;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.visual-mypagepost div {
    width: 100%;
    height: 100%;
}

.mypagepost-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mypagepost-img.mypagepost-1 {
    background-image: url("./images/img8.jpg");
}

/* 마이페이지 비쥬얼 사진 */
