header {
    width: 95%;
    border-bottom: solid 5px #d6e9ff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: green;
}
.mypage-head {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.mypage-posts {
    width: 95%;

    background-color: gray;
}

.mypage-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: red;
    box-shadow: 2px 2px 2px black;
}

.mypage-post-img {
    width: 95%;
}

section {
    clear: both;
}

