* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #AFCFEE;
}


.container2 {
    position: relative;
    width: 400px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #AFCFEE;
    box-shadow: 25px 25px 75px rgba(255,255,255,0.25),
    10px 10px 70px rgba(255,255,255,0.25),
    inset 5px 5px 10px rgba(255,255,255,0.5),
    inset 5px 5px 20px rgba(255,266,266,0.2),
    inset -5px -5px 15px rgba(255,255,255,0.75);
    border-radius: 30px;
    padding: 50px;
}
form {
    position: relative;
    width: 100%;
}
.container2 h3 {
    color: black;
    font-weight: 600;
    font-size: 2em;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.inputBox2 {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.inputBox2 span {
    display: inline-block;
    color: black;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: 0.75em;
    border-left: 4px solid black;
    padding-left: 4px;
    line-height: 1em;
}

.inputBox2 .box2 {
    display: flex;
}
.inputBox2 .box2 .icon {
    position: relative;
    min-width: 40px;
    height: 40px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
    color: black;
    font-size: 1.15em;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
    inset 2px 2px 5px rgba(255,255,2550.25),
    inset -3px -3px 5px rgba(255,255,255,0.5);
}


.inputBox2 .box2 input {
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 30px;
    letter-spacing: 1px;
    box-shadow: 5px 5px 7px rgba(255,255,255,0.35),
    inset 2px 2px 5px rgba(255,255,255,0.25),
    inset -3px -3px 5px rgba(255,255,255,0.5);
}

.inputBox2 .box2 input[type="button"] {

    box-shadow: 5px 5px 7px rgba(200, 200, 200, 0.35),
    inset 2px 2px 5px rgba(255, 255, 255, 0.25),
    inset -3px -3px 5px rgba(200, 200, 200, 0.5);
    color: black;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 10px;
}
.inputBox2 .box2 input[type="button"] :hover {
    filter: brightness(1.1);
}

#dup-button {
    width: 100px;
    margin-left: 20px ;
    border-radius: 0px;
    margin-top: 0px;
}

label {
    color: black;
    letter-spacing: 1px;
    font-size: 0.85em;
    display: flex;
    align-items: center;
}

label input {
    margin-right: 5px;
}
.forgot {
    color: black;
    letter-spacing: 1px;
    font-size: 0.85em;
    text-decoration: none;
}

.separate-icon {
    padding-right: 5px;
}

.errors {
  color: red;
  padding-top: 6px;
}