<div class="info-box col-log-12 mb-3 shadow-sm p-1 mb-5 bg-light rounded">
    <div class="row col-lg-3">
        <label><b>작성자</b></label>
        <div>
            <span><b>{{ doc.writer }}</b></span>
        </div>
    </div>
    <div class="row col-lg-3">
        <label><b>조회수</b></label>
        <div>
            <span><b>{{ doc.view_cnt }}</b></span>
        </div>
    </div>
    <div class="row col-lg-3">
        <label><b>게시일</b></label>
        <div>
            <span><b>{{ doc.pubdate }}</b></span>
        </div>
        {% if doc.uptdate %}
        <div>
            <span><b>{{ doc.uptdate }}</b></span>
        </div>
        {% endif %}
    </div>
</div>